@import "tailwindcss";

:root {
  --background: #0b001c;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

div.dropzone
{
    /* positions to point 0,0 - required for z-index */
    position: fixed; top: 10; left: 10; bottom: 10; right: 10; 
    border: 2px dashed #4F4A85;
    border-radius: 20px;
    /* above all elements, even if z-index is used elsewhere
       it can be lowered as needed, but this value surpasses
       all elements when used on YouTube for example. */
    z-index: 9999999999;               
    /* dim the page with 50% black background when visible */
    background-color: rgba(255,255,255,0.5);
    /* a nice fade effect, visibility toggles after 175ms, opacity will animate for 175ms. note display:none cannot be animated.  */
    transition: visibility 175ms, opacity 175ms;
}
